#btn{
    display: block;
    margin: auto;
    margin-top: 380px;
    padding: 10px 5px;
    background-color: lightgreen;
    border: 1px solid pink;
    border-radius: 7px;
}
#btn:hover{
    background: transparent;
    border: 2px solid black;
    color: antiquewhite;
    font-weight: bold;
    transition-timing-function: ease-in;
}
#id{
    text-align: center;
    text-transform: uppercase;
}